<!-- Banner -->
<section id="banner">
    <div class="content">
        <div class="inner">
            <header>
                <h2>{{ page.params.banner.title }}</h2>
                {{ page.params.banner.subtitle | markdownify }}
            </header>
            {% if page.params.banner.actions %}
                <ul class="actions">
                    {% for action in page.params.banner.actions %}
                        <li><a href="{% if action.url | starts_with('#') %}{{ action.url }}{% else %}{{ action.url | relative_url }}{% endif %}" {{ classNames("button", {"primary": action.is_primary}, {"scrolly": action.is_scrolly}, {"huge": action.is_huge}) }}>{{ action.label }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</section>